.form-control {
  color: #fafafa;
  background: #fff1;

  &:focus {
    color: inherit;
    background: none;
  }

  &::placeholder {
    color: #bbb;
  }
}

.fade-in {
  animation: fadeInAnimation 600ms ease-in-out 1;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
