/* You can add global styles to this file, and also import other style files */
.form-control {
  color: #fafafa;
  background: #fff1;

  &:focus {
    color: inherit;
    background: none;
  }

  &::placeholder {
    color: #bbb;
  }
}
