<h1>Mutaciones</h1>
<hr>

<div class="row">

  <div class="col-md-6">

    <input
      #txtEmail
      type="text"
      class="form-control mb-2"
      (input)="onFieldUpdated('email', txtEmail.value)"
      [value]="user().email"
      placeholder="Email"
    >

    <input
      #txtFirstName
      type="text"
      class="form-control mb-2"
      (input)="onFieldUpdated('first_name', txtFirstName.value)"
      [value]="user().first_name"
      placeholder="Firstname"
    >

    <input
      #txtLastName
      type="text"
      class="form-control mb-2"
      (input)="onFieldUpdated('last_name', txtLastName.value)"
      [value]="user().last_name"
      placeholder="Lastname"
    >

  </div>

  <div class="col-md-6">
    <div class="d-flex gap-4 align-items-center justify-content-between">
      <b>{{ fullName() }}</b>

      <button class="btn btn-primary" (click)="increase()">
        +{{ counter() }}
      </button>
    </div>

    <hr>
    <pre>{{ user() | json }}</pre>
  </div>

</div>
