<div class="row">

  <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let i of [1, 2, 3, 4, 5, 6]">
    <div class="card mb-2 text-center bg-dark">
      <div class="card-body text-white">
        <p>
          {{ i }}
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore ad,
          quo commodi temporibus nisi minus, tempora asperiores necessitatibus
          error nulla obcaecati quisquam provident velit minima animi vitae
          consequatur, beatae dignissimos.
        </p>
      </div>
    </div>
  </div>

</div>
