<div
  role="navigation"
  class="bg-dark text-white border-right sidebar position-fixed top-0 start-0 z-3"
>
  <div class="p-3 d-flex flex-column flex-fill">
    <h3 class="align-self-center">Gifs App</h3>

    <hr />

    <div class="list-group list-reset gap-1">
      <button
        *ngFor="let tag of tags"
        (click)="searchTag(tag)"
        class="list-group-item list-group-item-action"
      >
        {{ tag | titlecase }}
      </button>
    </div>

    <div
      style="font-size: 0.8rem"
      class="d-flex flex-column position-absolute bottom-0 start-0 text-center"
    >
      <p class="mb-2">
        Developed with 🖤 by
        <a
          href="https://github.com/josemiguel02"
          target="_blank"
          rel="noopener noreferrer"
          class="link-warning"
        >
          @josemidev24
        </a>
      </p>

      <p class="mb-2">&copy; 2023 José Domínguez P.</p>
    </div>
  </div>
</div>
