* {
  box-sizing: border-box;
}

body {
  background: #121212;
  color: #fafafa;
  display: grid;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  min-height: 100vh;
  place-items: center;
}

button {
  background: #3abff8;
  border-radius: 0.3rem;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  transition: all 0.5s ease-in-out;
  transition-property: background, transform;
}

button:hover {
  background: #31a0cf;
}

button:focus,
button:focus-visible {
  outline-offset: 2px;
  outline: 1px solid #31a0cf;
}

button:active {
  transform: scale(0.9);
}
