<h2>Reactivos: Dinámicos</h2>
<hr />

<form
  [formGroup]="myForm"
  (ngSubmit)="onSubmit()"
  autocomplete="off"
>
  <!-- Nombre -->
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Nombre</label>
    <div class="col-sm-9">
      <input
        class="form-control"
        formControlName="name"
        placeholder="Nombre de la persona"
      />

      <span
        *ngIf="isValidField('name')"
        class="form-text text-danger"
      >
        {{ getFieldError('name') }}
      </span>
    </div>
  </div>

  <!-- Agregar Favorito -->
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Agregar</label>
    <div class="col-sm-9">
      <div class="input-group">
        <input
          class="form-control"
          [formControl]="newFavorite"
          placeholder="Agregar favorito"
        />

        <button
          type="button"
          (click)="onAddToFavorites()"
          class="btn btn-outline-primary"
        >
          Agregar favorito
        </button>
      </div>
    </div>
  </div>

  <!-- Lista de Juegos Favoritos -->
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Favoritos</label>
    <div
      formArrayName="favoritesGames"
      class="col-sm-9"
    >
      <div
        class="mb-1"
        *ngFor="let favorite of favoritesGames.controls; index as idx"
      >
        <div class="input-group">
          <input
            [formControlName]="idx"
            class="form-control"
          />

          <button
            type="button"
            (click)="onDeleteFavorite(idx)"
            class="btn btn-outline-danger"
          >
            Eliminar
          </button>
        </div>

        <span
          *ngIf="isValidFieldInArray(favoritesGames, idx)"
          class="form-text text-danger"
        >
          Este campo es requerido
        </span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <button
        type="submit"
        class="btn btn-primary float-end"
      >
        Guardar
      </button>
    </div>
  </div>
</form>

<span>Valid</span>
<pre>{{ myForm.valid | json }}</pre>
<br />

<span>Value</span>
<pre>{{ myForm.value | json }}</pre>
<br />

<span>Agregar Juego</span>
<pre>{{ newFavorite.valid | json }}</pre>
<pre>{{ newFavorite.valid | json }}</pre>
