#map {
  width: 100vw;
  height: 100vh;
}

.floating-range {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 10;
  width: 300px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.floating-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
