<div class="fade-in">
  <h2>Por Región</h2>

  <hr />

  <div class="row">
    <div class="col d-flex justify-content-center gap-4">
      <button
        *ngFor="let region of regions"
        (click)="searchByRegion(region)"
        class="btn btn-dark"
        [ngClass]="{ 'btn-outline-primary': selectedRegion === region }"
      >
        {{ region }}
      </button>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col">
      <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
      <countries-table [countries]="countries"></countries-table>
    </div>
  </div>
</div>
